body {
  padding-top: 60px;
  text-align: center;
  background-color: #3c5996;
}

h2,
h3 {
  font-family: sans-serif;
  color: black;
}

form {
  width: 400px;
  margin: auto;
  background-color: #ffe9e9;
  border-radius: 20px;
  padding: 5px;
}

.form-control {
  width: 50%;
  font-size: 14px;
}

.input {
  border-color: white;
}
.submit {
  background: #3c5996;
  color: white;
  border-color: transparent;
}

.users {
  font-family: sans-serif;
  margin-bottom: 10px;
}
